<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CouponREST</display-name>


	<servlet>
		<servlet-name>Jersey REST Services</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.couponsystem.service</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Services</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>com.couponsystem.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>SessionFilter</display-name>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.couponsystem.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/SessionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>Jersey REST Services</servlet-name>
	</filter-mapping>



	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>